{% extends "base.html" %} {% load static %}

{% block head %}
<title>{{ part.name }}</title>
<link rel="stylesheet" href="{% static 'css/parts/part-detail.css' %}">
{% endblock %}

{% block content %}
<div class="part-detail card">
    <h1 class="part-title">{{ part.name }}</h1>

    <div class="part-image">
        <img src="{{ part.img.url }}" alt="{{ part.name }}" loading="lazy">
    </div>

    <div class="part-info">
        <p><strong>Brand:</strong> {{ part.brand }}</p>
        <p><strong>Price:</strong> ${{ part.price }}</p>
        <p><strong>Part Number:</strong> {{ part.part_number }}</p>
    </div>
    <hr >
    <h2>Compatible Car</h2>
    <div class='car-info'>
        <p><strong>Make:</strong> {{ part.car.make }}</p>
        <p><strong>Model:</strong> {{ part.car.model}}</p>
        <p><strong>Year:</strong> {{ part.car.year}}</p>
    </div>

    <div class="part-actions">
        <a href="{% url 'add-to-cart' part.id%}" class="btn btn-primary">Add to Cart</a>
        <a href="{% url 'part-index' %}" class="btn btn-secondary">Back to Parts</a>
    </div>
</div>
{% endblock %}