.account-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.account-container h1,
.account-container h2 {
  color: #222;
  border-bottom: 2px solid #eee;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

.account-details {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.account-details li {
  margin: 6px 0;
  font-size: 16px;
}

.car-list {
  display: grid;
  gap: 15px;
}

.car-card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  transition: transform 0.2s ease;
}


.car-card p {
  margin: 4px 0;
  font-size: 15px;
}

.btn-delete {
    background-color: #e74c3c; 
    color: white;
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-update {
    background-color: #3c80e7; 
    color: white;
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-create {
    background-color: #3ce7c2; 
    color: white;
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


