{% extends "base.html" %}

{% block head %}
<title>About</title>
{% endblock %}

{% block content %}
<header>
    <h1>About Elite Car Parts</h1>
    <p>Because your car deserves the best.</p>
</header>

<section>
<p>
    Welcome to <strong>Elite Car Parts</strong> — your trusted destination for 
    <strong>high-quality auto parts</strong> and accessories. We’re passionate about keeping every driver 
    safe, confident, and in control by offering premium parts at fair prices. Whether you’re a professional 
    mechanic or a car enthusiast, we’re here to make finding the right part simple and reliable.
</p>

<h2> Why Choose Elite Car Parts</h2>
    <ul>
      <li>Top brands & genuine quality</li>
      <li>Wide compatibility across models and years</li>
      <li>Expert customer support every step of the way</li>
    </ul>

</section>

<footer>
    <p>© 2025 Elite Car Parts. All rights reserved.</p>
</footer>
{% endblock %}