{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
        <div class="site-header">
            <a href="/"><img src="{% static 'images/header-logo.png' %}" alt="Elite Car Parts" class="logo"/></a>
            <h1 class="site-title">Elite Car Parts</h1>
            <form class="search-form" action="/search/" role="search">
            <label for="search" class="sr-only"></label>
            <input id="search" type="text" name="q" placeholder="search by part name" value="" autocomplete="off" autocapitalize="off" spellcheck="false" data-controller="search-focus" data-action="keydown@window-&gt;search-focus#focusSearchField" data-search-focus-target="searchField">
            <button type="submit" class="search-form__button">
              <i class="fa fa-search" aria-hidden="true"></i>
              <span class="sr-only">Search</span>
            </button>
          </form>
      </div>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/parts">Parts</a></li>
          <li><a href="/account">My Account</a></li>
          <li><a href="{% url 'view-cart' %}">View Cart</a></li>
          <li>
            <form id='logout' method='post' action="{% url 'logout'%}">
              {% csrf_token %}
              <button type="submit" class="logout-btn">Log out</button>
            </form>
          </li>
          {% else %}
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="{% url 'login' %}">Sign In</a></li>
          <li><a href="{% url  'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
    </main>
  </body>
</html>
